<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Haastrup elijah">
    <meta name="description" content="Haastrup elijah profile">
    <meta name="keywords" content="web developer,php, node.js,ui ux designer, full-stack, back-end, front-end, mern, developer">
    <link rel="stylesheet" href="css/fa/css/all.min.css">
    <link rel="stylesheet" href="css/bs/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/anim.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="./assets/logo-top.png" type="image/png">
    <title>Haastrup Elijah Adelanke David-portfolio</title>
</head>

<body>
    <nav id="mobile-nav" class="navbar">
        <div class="nav-inner-wrp container" >
                <div class="logo-wrp navbar-brand">
                            <img src="./assets/logo-top.png" width="50px">
                </div>
                    <div class="menu-wrp" id="mobi-nav-toggler">
                        <div class="ham-menu-wrp">
                            <div class="ham-menu-line">  
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="menu-item collapse fade navbar-collapse">
                    <ul class="navbar-nav text-white">
                        <li class="nav-item home active"><a href="#home" class="nav-link">
                                <span class="fa fa-home"></span> <span>Home</span>
                        </a></li>
                        <li class="nav-item about"><a href="#about" class="nav-link"><span class="fa fa-info-circle"></span> <span>About</span> </a></li>
                        <li class="nav-item services"><a href="#services" class="nav-link"><span class="fa fa-wrench"></span> <span>Services</span></a></li>
                        <li class="nav-item portfolio"><a href="#portfolio" class="nav-link"><span class="fa fa-project-diagram"></span> <span>Portfolio</span> </a></li>
                        <li class="nav-item contact-me"><a href="#contact-me" class="nav-link"><span class="fa fa-phone"></span> <span>Contact me</span></a></li>
                    </ul>
                </div>
    </nav>
    <section id="page-body">
        <div id="left-part-wrp" class="text-white">
            <div class="left-part-inner">
                <div class="md-logo-wrp">
                    <a href="#" class="d-block text-center w-100">
                            <img src="./assets/translogo.png" width="50%">  
                    </a>
                </div>
                <div class="md-menu-list-wrp">
                    <ul class="menu-list">
                        <li class="menu-item home"><a href="#home" class="active nav-link"> <span>Home</span></a></li>
                        <li class="menu-item about"><a href="#about" class="nav-link"> <span>About</span></a></li>
                        <li class="menu-item services"><a href="#services" class="nav-link"> <span>Services</span></a></li>
                        <li class="menu-item portfolio"><a href="#portfolio" class="nav-link"> <span>Portfolio</span></a></li>
                        <li class="menu-item contact-me"><a href="#contact-me" class="nav-link"> <span>Contact me</span></a></li>
                    </ul>
                </div>
                <a href="#left-part-wrp" class="left-collapse"><span class="fa-stack">
                    <i class="fa fa-angle-left"></i>
                    <i class="fa fa-angle-right"></i>
                </span></a>
                <div class="md-social-media">
                    <div class="md-social-media-inner">
                        <ul>
                            <li><a href="#fb" title="Facebook"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#twitter" title="Twitter"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="https://github.com/haastrupea" title="Github"><span class="fab fa-github"></span></a></li>
                            <li><a href="https://www.linkedin.com/in/haastrupea" title="Linkedin"><span class="fab fa-linkedin-in"></span></a></li>
                            <li><a href="#slack" title="Slack"><span class="fab fa-slack"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="right-part-wrp">
            <section id="home">
                <div class="home-inner vh-100">
                    <div class="bg-design">
                        <div class="bg-hero" data-paralax="background" data-speed-y='.3' data-dy="-" >
                        </div>
                        <div class="bg-overlay-gr">
                        </div>
                        <div class="bg-overlay">
                        </div>
                    </div>
                    <div class="home-inner-content">
                      <div class="container text-white text-center">
                          <div class="row">
                              <div class="col-sm-6">
                                 <div class="frames" data-paralax='translate' data-dx='-' data-speed-x=".07">
                                        <div class="circle frame1"></div>
                                        <div class="circle frame2"></div>
                                        <div class="circle frame3">
                                            <img src="./assets/head.jpg" class="img-fluid hero-img" alt="">
                                        </div>
                                 </div>
                                </div>
                              <div class="col-sm-6"><div class="bubble-wrp" data-paralax='translate' data-speed-x=".2" >
                                  <div class="chat-bubble">
                                        <span> Hi, my name is <i class="text-info">Haastrup Elijah</i> and i am a</span> <br>  <div class="typing-text">
                                            <div id="typed-strings1">
                                                <p><span class="fas fa-code"></span> Software Engineer</p>
                                                <p><span class="fas fa-code"></span> Javascript Developer</p>
                                                <p><span class="fas fa-bullseye"></span> Freelancer</p>
                                            </div>
                                             <span id="typed1"></span></div>
                                  </div>
                              </div></div>
                          </div>
                      </div>
                    </div>
                    <div class="arrow-down-wrp bounce">
                        <a href="#about"><span class="fa fa-angle-double-down fa-2x"></span></a>
                    </div>
                </div>
            </section>
            <section id="about">
                <div class="about-inner">
                    <div class="container-fluid">
                            <div class="title">
                                <div class="title-inner">
                                    <h3>About me</h3>
                                    <span>What you need to know about me</span>
                                </div>
                            </div>
                            <div class="abt-content">
                                <div class="abt-content-inner">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-5 d-flex flex-direction-col justify-content-center">
                                            <img src="./assets/programmer.png" alt="programmer" class="img-fluid programer-img">
                                            </div>
                                            <div class="col-sm-12 col-md-7 bio-card">
                                                <div class="abt-info">
                                                    <div class="abt-info-inner">
                                                        <h4>Hi! I am <span class="my-name">Haastrup Elijah</span> and i am a <span class="typing-text">[<div id="typed-strings2">
                                                                <p>Software Engineer</p>
                                                                <p>Js Developer</p>
                                                                <p>Freelancer</p>
                                                            </div><span id="typed2"></span>]</span></h4>
                                                       <div class="full-details">
                                                        <p class="abt-me">
                                                            I love programming. I'm also blockchain and Artificial Intelligence enthusiast. Am very passionate and dedicated to my work. With years of experience as a professional responsive Web app developer, I have acquired the skills and knowledge necessary to build responsive, search engine optimised and maintainable source code project. I enjoy every step of the design process (i.e from discussion and collaboration to concept and execution). And most importantly I derive pleasure in seeing the finished product do everything, for you, that it was created to do.
                                                        </p>
                                                       </div>
                                                       <div class="bio-info">
                                                           <ul>
                                                               <li><span>
                                                                   <label>Date of birth:</label>
                                                                   <span class="dob"></span>                                                                   
                                                               </span></li>
                                                               <li><span>
                                                                   <label>Age:</label>
                                                                   26years.
                                                               </span></li>
                                                               <li><span>
                                                                   <label>City:</label>
                                                                   Ile-ife, Nigeria.
                                                               </span></li>
                                                               <li><span>
                                                                   <label>Study:</label>
                                                                   Obafemi Awolowo University, Ile-ife
                                                               </span></li>
                                                               <li><span>
                                                                   <label>Degree:</label>
                                                                   B.Agric in view.
                                                               </span></li>
                                                               <li><span>
                                                                   <label>Interest:</label>
                                                                   Sci-movies, surfing the internet
                                                               </span></li>
                                                               <li><span>
                                                                   <label>Website:</label>
                                                                   https://haastrupea.github.io
                                                               </span></li>
                                                               <li><span>
                                                                   <label>mail:</label>
                                                                   <span class="mail"></span>
                                                               </span></li>
                                                               <li><span>
                                                                   <label>Phone:</label>
                                                                   <span class="phone"></span>                                                                   
                                                               </span></li>
                                                               <li><span>
                                                                   <label>Language:</label>
                                                                   Yoruba, English
                                                               </span></li>
                                                           </ul>
                                                       </div>
                                                       <div class="further-info">
                                                           <a href="./assets/cv.pdf" target="_blank" class="btn"><span class="fa fa-download"> </span> Download cv</a>
                                                           <a href="#contact-me" class="btn">
                                                               <span class="fa fa-mail-bulk"></span> Send message</a>
                                                       </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="abt-stack">
                                <div class="stacks">
                                    <h4><span class="fa fa-layer-group fa-2x pr-3"></span> Some of my skill sets</h4>
                                </div>
                                <div class="abt-stack-inner">
                                    <ul>
                                        <li>JAVASCRIPT</li>
                                        <li>NODE.js</li>
                                        <li>MYSQL</li>
                                        <li>MONGODB</li>
                                        <li>GIT</li>
                                        <li>REACT.JS</li>
                                        <li>Vue.js</li>
                                        <li>Sails.js</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>
                              
            </section>
            <section id="services">
                <div class="services-inner">
                        <div class="container-fluid">
                                <div class="title">
                                    <div class="title-inner">
                                        <h3>Services</h3>
                                        <span>Feel free to Hire me</span>
                                    </div>
                                </div>
                                <div class="service-content">
                                    <div class="service-content-inner">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-4 mb-4">
                                                    <div class="service-item">
                                                            <div class="icon">
                                                                    <span class="fa fa-laptop-code fa-2x"></span> 
                                                                 </div>
                                                                 <h4>Web Development
                                                                 </h4>
                                                                 <p>
                                                                     Css/Css3, html/html5, javascript, react.js, node.js, responsive web apps
                                                                 </p>
                                                                 <div class="btn-wrp">
                                                                     <a class="btn hire-me-btn btn-outline-info" href="#contact-me">Hire me</a>
                                                                 </div>    
                                                    </div>
                                                </div>
                                                
                                                <div class="col-sm-12 col-md-4 mb-4">
                                                    <div class="service-item">
                                                            <div class="icon">
                                                                    <span class="fa fa-drafting-compass fa-2x"></span> 
                                                                 </div>
                                                                 <h4>
                                                                        Hybrid Mobile App
                                                                 </h4>
                                                                 <p>
                                                                    React Native, Phonegap, cordova
                                                                 </p>
                                                                 <div class="btn-wrp">
                                                                     <a class="btn hire-me-btn btn-outline-info" href="#contact-me">Hire me</a>
                                                                 </div>  
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4 mb-4">
                                                    <div class="service-item">
                                                            <div class="icon">
                                                                    <span class="fa fa-bug fa-2x"></span> 
                                                                 </div>
                                                                 <h4>
                                                                        Debugging
                                                                 </h4>
                                                                 <p>
                                                                    Javascript
                                                                 </p>
                                                                 <div class="btn-wrp">
                                                                     <a class="btn hire-me-btn btn-outline-info" href="#contact-me">Hire me</a>
                                                                 </div>  
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </section>
            <section id="portfolio">
                <div class="portfolio-inner">
                    <div class="container-fluid">
                            <div class="title">
                                    <div class="title-inner">
                                        <h3>My portfolio</h3>
                                        <span>Some of the project i have worked on</span>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                  <div class="container-fluid">
                                      <div class="row portfolio-info">
                                          <div class="col-sm-12">
                                              <nav id="portfolio-nav">
                                                  <a data-not href="#all" class="active">All categories</a>
                                                <a data-not href="#Web">Web Apps</a>
                                            </nav>
                                          </div>
                                          <div class="col-sm-12 col-md-4 p-card web ui">
                                            <div data-project="trinity" class="portfolio-card">
                                                <img src="./assets/portfolio-website.jpeg" alt="">                                                
                                                <div class="portfolio-content-overlay">
                                                </div>
                                               <div class="info">
                                                   <i class="fa fa-info-circle"></i>
                                                <p class="short-desc">
                                                    A church content management web app with website built into it
                                                    </p>
                                               </div>
                                                <div class="portf-bg">
                                                    Trinity
                                                </div>
                                            </div>  
                                        </div>
                                          <div class="col-sm-12 col-md-4 p-card ">
                                              <div data-project="ip-finder" class="portfolio-card">
                                                <img src="./assets/ip-finder.gif" alt="" style="width: 116%;">  
                                                <div class="portfolio-content-overlay">
                                                    </div>
                                                   <div class="info">
                                                       <i class="fa fa-info-circle"></i>
                                                    <p class="short-desc">
                                                        Commandline Node app that give info about any given Ip address 
                                                        </p>
                                                   </div>                                                 
                                                    <div class="portf-bg">
                                                            Ip finder
                                                        </div>
                                              </div> 
                                            </div>
                                          <div class="col-sm-12 col-md-4 p-card web ui">
                                                <div data-project="port-web" class="portfolio-card">
                                                        <img src="./assets/portfolio-website.jpeg" alt="">
                                                        <div class="portfolio-content-overlay">
                                                            </div>
                                                           <div class="info">
                                                               <i class="fa fa-info-circle"></i>
                                                            <p class="short-desc">
                                                                My personal portfolio website built from scratch
                                                                </p>
                                                           </div>
                                                        <div class="portf-bg">
                                                                Portfolio website
                                                            </div>
                                                    </div> 
                                                    </div>
                                          <div class="col-sm-12 col-md-4 p-card web ui">
                                                <div data-project="iss-tracker" class="portfolio-card">
                                                    <img src="./assets/portfolio-website.jpeg" alt="">   
                                                    <div class="portfolio-content-overlay">
                                                        </div>
                                                       <div class="info">
                                                           <i class="fa fa-info-circle"></i>
                                                        <p class="short-desc">
                                                            International space station tracker gives info on current location of ISS
                                                            </p>
                                                       </div>                                                     
                                                        <div class="portf-bg">
                                                                <abbr title="International Space Station">
                                                                    I.S.S 
                                                                </abbr>
                                                                tracker
                                                            </div>
                                                    </div>   
                                        </div>
                                          <div class="col-sm-12 col-md-4 p-card web ui branding">
                                                <div data-project="eventpal" class="portfolio-card">
                                                        <img src="./assets/portfolio-website.jpeg" alt="">
                                                        <div class="portfolio-content-overlay">
                                                            </div>
                                                           <div class="info">
                                                               <i class="fa fa-info-circle"></i>
                                                            <p class="short-desc">
                                                                An event management platform
                                                                </p>
                                                           </div>
                                                        <div class="portf-bg">
                                                            Eventpal
                                                            </div>
                                                    </div>   
                                        </div>
                                          <div class="col-sm-12 col-md-4 p-card web ui branding">
                                                <div data-project="viralvibes" class="portfolio-card">
                                                        <img src="./assets/portfolio-website.jpeg" alt="">
                                                        <div class="portfolio-content-overlay">
                                                            </div>
                                                           <div class="info">
                                                               <i class="fa fa-info-circle"></i>
                                                            <p class="short-desc">
                                                                Real estate website
                                                                </p>
                                                           </div>
                                                        <div class="portf-bg">
                                                            mainlandhouses.com
                                                            </div>
                                                    </div>   
                                        </div>
                                      </div>
                                  </div>  
                                </div>
                    </div>
                </div>
            </section>
            <section id="contact-me">
                <div class="contact-inner">
                    <div class="title">
                        <div class="title-inner">
                            <h3>Contact me</h3>
                            <span>Get in touch with me</span>
                        </div>
                    </div>
                        <div class="container">
                                <div class="contct-content">
                                    <div class="contct-content-inner">
                                        <div class="container">
                                            <div class="row contact-info">
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="addr-card">
                                                        <div class="icons">
                                                            <span class="fa fa-location-arrow"></span>
                                                        </div>
                                                        <div class="info">
                                                            <h4>Address</h4>
                                                           <span>Obafemi Awolowo University, Ile-ife, Nigeria.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="addr-card">
                                                        <div class="icons">
                                                            <span class="fa fa-mail-bulk"></span>
                                                        </div>
                                                        <div class="info">
                                                            <h4>Email</h4>
                                                            <a href="mailto:haastrupea@gmail.com"><span class="mail"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="addr-card">
                                                        <div class="icons">
                                                            <span class="fa fa-phone"></span>
                                                        </div>
                                                        <div class="info">
                                                            <h4>Phone</h4>
                                                           <a href="tel:+2348144734568"><span class="phone"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-sm-6 m contact-social">
                                                    <div class="social-icons">
                                                        <ul class="social-icons-inner">
                                                                <li><a href="#fb" title="Facebook"><span class="fab fa-facebook-f fa-2x"></span></a></li>
                                                                <li><a href="#twitter" title="Twitter"><span class="fab fa-twitter fa-2x"></span></a></li>
                                                                <li><a href="https://github.com/haastrupea" target="_blank" title="Github"><span class="fab fa-github fa-2x"></span></a></li>
                                                                <li><a href="https://www.linkedin.com/in/haastrupea/" target="_blank" title="Linkedin"><span class="fab fa-linkedin-in fa-2x"></span></a></li>
                                                                <li><a href="#slack" title="Slack"><span class="fab fa-slack fa-2x"></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center contact-form-row">
                                                <div class="col-sm-6">
                                                    <div class="contact-form">
                                                        <div class="contact-form-inner">
                                                            <form action="https://formspree.io/f/mknkpbpk" id="contact-me-form" class="conact-me" method="POST">
                                                                <div id="my-form-status" class="alert collapse"></div>
                                                                <div class="row">
                                                                    <div class="col-sm-12"><input id="firstname" name="name" type="text" class="form-control" placeholder="Full Name" required></div>
                                                                    <div class="col-sm-12"><input id="email" name="_replyto" type="email" class="form-control" placeholder="Enter your email"required>
                                                                    </div>
                                                                    <div class="col-sm-12"><textarea class="form-control" name="message" id="message" rows="5" required placeholder="Message"></textarea></div>
                                                                    <div class="col-sm-12">
                                                                    <button type="submit" id="my-form-button" class="btn btn-block form-submit"> <span class="fa fa-envelope"></span> Send message</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                </div>
                                <div class="footer">
                                    <div class="footer-inner">
                                        <div class="scrolltop">
                                            <a href="#home" class="scrolltop-inner">
                                                <span class="fa fa-arrow-alt-circle-up fa-3x">
                                                    
                                                </span>
                                            </a>
                                        </div>
                                            <p>&COPY; Copyright 2019. All Rights are Reserved. <span>Designed for Wikytek by prosoft</span>
                                            </p>
                                        </div>
                                    </div>
                </div>
            </section>
        </div>
    </section>
        <section class="project-modal modal-open" style="display: none">
        <div class="modal-backdrop fade show"></div>
        <div class="modal fade modal-lg trinity" style="display: flex;">
                <div class="modal-content">
                        <div class="modal-header">
                                <div class="modal-title"><h1>PROJECT</h1></div>
                               <span class=" close fa fa-times-circle"></span>
                            </div>
                            <div class="modal-body">
                <div class="modal-scrollbar-measure"></div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 mb-2">
                                            <strong>
                                                NAME:
                                            </strong>
                                            <p class="code d-inline">
                                                    Trinity
                                                </p>

                                        </div>
                                        <div class="col-sm-12 col-md-6 mb-2">
                                            <strong>
                                                STATUS:
                                            </strong>
                                                
                                                <p class="code d-inline">in Development</p>

                                            </div>
                                            <div class="col-sm-12 col-md-6 mb-2">
                                                <strong>
                                                    LINK(URL):
                                                </strong>
                                                <p class="code d-inline">access on demand</p>
                                            </div>
                                            <div class="col-sm-12 col-md-6 mb-2">
                                                <strong>
                                                    STACK:
                                                </strong>
                                                <p class="code d-inline">php,mysql,html,css,js, bootstrap</p>

                                            </div>
                                        <div class="col-sm-12 mb-2">
                                            <strong>
                                                DESCRIPTION:
                                            </strong>
                                            <p class="code d-inline">Trinity is a church content management system with a website built into it, it allows church to upload and manage sermon, Manage church event, upload church bulletin for public download and church members management.
                                            </p>
                                            
                                        </div>
                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-3 text-center">
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-none d-md-block" style="height: 200px">
                                            
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-9">
                                                <div class="p-4 border project-preview">
                                                    <img src="./assets/programmer.png" alt="">
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer"></div>
                </div>
        </div>
        <div class="modal fade modal-lg ip-finder" style="display: flex;">
                <div class="modal-content">
                        <div class="modal-header">
                                <div class="modal-title">Project title</div>
                               <span class=" close fa fa-times-circle"></span>
                            </div>
                            <div class="modal-body">
                <div class="modal-scrollbar-measure"></div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            Name:IP tracker
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                                status:[in progress]
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                link: no available
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                stacks:[redis,js]
                                            </div>
                                        <div class="col-sm-12">
                                            DESCRIPTION: Not available yet
                                        </div>
                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-3 text-center">
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-none d-md-block" style="height: 200px">
                                            
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-9">
                                                <div class="p-4 border project-preview">
                                                    <img src="./assets/programmer.png" alt="">
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer"></div>
                </div>
        </div>
        <div class="modal fade modal-lg port-web" style="display: flex;">
                <div class="modal-content">
                        <div class="modal-header">
                                <div class="modal-title">Project</div>
                               <span class=" close fa fa-times-circle"></span>
                            </div>
                            <div class="modal-body">
                <div class="modal-scrollbar-measure"></div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            Name:[Project name]
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                                status:[in progress]
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                link:Not available
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                stacks:[mongoDb,html,css,js]
                                            </div>
                                        <div class="col-sm-12">
                                            DESCRIPTION: Not available
                                        </div>
                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-3 text-center">
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-none d-md-block" style="height: 200px">
                                            
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-9">
                                                <div class="p-4 border project-preview">
                                                    <img src="./assets/programmer.png" alt="">
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer"></div>
                </div>
        </div>
        <div class="modal fade modal-lg iss-tracker" style="display: flex;">
                <div class="modal-content">
                        <div class="modal-header">
                                <div class="modal-title">Project</div>
                               <span class=" close fa fa-times-circle"></span>
                            </div>
                            <div class="modal-body">
                <div class="modal-scrollbar-measure"></div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            Name: ISS tracker
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                                status:in progress
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                link:Not available
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                stacks:[mysql,html,css,js]
                                            </div>
                                        <div class="col-sm-12">
                                            DESCRIPTION: description coming soon
                                        </div>
                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-3 text-center">
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-none d-md-block" style="height: 200px">
                                            
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-9">
                                                <div class="p-4 border project-preview">
                                                    <img src="./assets/programmer.png" alt="">
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer"></div>
                </div>
        </div>
        <div class="modal fade modal-lg eventpal" style="display: flex;">
                <div class="modal-content">
                        <div class="modal-header">
                                <div class="modal-title">Project</div>
                               <span class=" close fa fa-times-circle"></span>
                            </div>
                            <div class="modal-body">
                <div class="modal-scrollbar-measure"></div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            Name:Event pal
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                                status:[in progress]
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                link:Not available
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                stacks:[php,mysql,html,css,js]
                                            </div>
                                        <div class="col-sm-12">
                                            DESCRIPTION: not available
                                        </div>
                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-3 text-center">
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-none d-md-block" style="height: 200px">
                                            
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-9">
                                                <div class="p-4 border project-preview">
                                                    <img src="./assets/programmer.png" alt="">
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer"></div>
                </div>
        </div>
        <div class="modal fade modal-lg viralvibes" style="display: flex;">
                <div class="modal-content">
                        <div class="modal-header">
                                <div class="modal-title">Project</div>
                               <span class=" close fa fa-times-circle"></span>
                            </div>
                            <div class="modal-body">
                <div class="modal-scrollbar-measure"></div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            Name:Viralvibes
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                                status:[completed]
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                link:not available
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                stacks:[php,mysql,html,css,js]
                                            </div>
                                        <div class="col-sm-12">
                                            DESCRIPTION:entertainment and content streaming site
                                        </div>
                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-3 text-center">
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-inline-block"></div>
                                            <div class="p-4 border d-none d-md-block" style="height: 200px">
                                            
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-9">
                                                <div class="p-4 border project-preview">
                                                    <img src="./assets/programmer.png" alt="">
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer"></div>
                </div>
        </div>
    </section>
</body>
<script src="./js/typed.min.js"></script>
<script src="./js/mailer.js"></script>
<script src="./js/main.js"></script>
</html>